
<div [ngClass]="editMode ? 'editMode': 'submit'">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" >
        <label for="title">
            Titolo:
        </label>
        <input type="text" name="title" formControlName="title">
        <label for="author">
            Autore:
        </label>
        <input type="text" name="author" formControlName="author">
        <label for="category">
            Categoria:
        </label>
            <select name="category" formControlName="category">
                <option value="fantasy" selected>Fantasy</option>
                <option value="avventura">Avventura</option>
                <option value="saggio">Saggio</option>
            </select>
        <label for="pages">
            Pagine:
        </label>
        <input type="number" name="pages" formControlName="pages" placeholder="Numero [0 - 1500]">


        <!-- button will be gray on disabled when form is not valid but also untouched, but will turn red if touched && invalid -->
        <button type="submit" [disabled]="!bookForm.valid" [ngClass]="{'invalid-form': bookForm.touched && !bookForm.valid}">{{ editMode? "Modifica" : "Invia"}}</button>



        <!-- TODO hard refreshing from this page + submitting a form and using this go back button will cause error due to not fetching data in the book-list onInit method -->
        <a *ngIf="submitted" routerLink=".."><button type="button"> Indietro </button></a>

        <!--  will show up if DOM manipulated from browser console, but will also be removed if user fixes values -->
        <ng-container *ngIf="!bookForm.valid">
            <ng-container *ngIf="errorMessage"><div class="warn-popup">--Attenzione, hai cercato di inserire una form non valida--</div></ng-container>
        </ng-container>
    </form>
</div>

