<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" [ngClass]="editMode ? 'editMode': 'submit'">
    <label for="title">
        Title:
        <input type="text" name="title" formControlName="title">
    </label>
    <label for="author">
        Autore:
        <input type="text" name="author" formControlName="author">
    </label>
    <label for="category">
        Categoria:
        <select name="category" formControlName="category">
            <option value="fantasy" selected>Fantasy</option>
            <option value="avventura">Avventura</option>
            <option value="saggio">Saggio</option>
        </select>
    </label>
    <label for="pages">
        Pagine:
        <input type="number" name="pages" formControlName="pages">
    </label>



    <button type="submit" [disabled]="!bookForm.valid">{{ editMode? "Modifica" : "Invia"}}</button>



    <!-- TODO hard refreshing from this page + submitting a form and using this go back button will cause error due to not fetching data in the book-list onInit method -->
    <a *ngIf="submitted" routerLink=".."><button type="button"> Indietro </button></a>

    <!--  will show up if DOM manipulated from browser console, but will also be removed if user fixes values -->
    <ng-container *ngIf="!bookForm.valid">
        <ng-container *ngIf="errorMessage">--Attenzione, hai cercato di inserire una form non valida--</ng-container>
    </ng-container>
</form>

