@import "src/variables";

nav {
  display: flex;
  height: 10%;
  flex-direction: row;
  background-color: $r1;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
  }
  h2 {
    color: whitesmoke;
    margin: 20px;
  }
}

// TODO fix this and add transition ease in out to move it smoothly
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    justify-content: center;
    height: 12%;
    h2 {
      margin: 5px;
    }
  }
}
