@import "src/_variables.scss";

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

.book-page {
  @include component-structure;
  justify-content: space-between;

  .book-details-card {
    // border: 1px solid black;
    width: 50%;
    height: 60vh;
    @include flex-col;
    max-width: 60%;
    .header {
      background-color: #e2b6cf;
      border-radius: 2px;
      padding-inline: 10px;
      text-align: center;
      h2{
        color: #252a34;
      }
    }
    
    .card-body {
      padding: 10px 20px;
      @include flex-col;
      flex: 1;
      justify-content: space-evenly;
      .card-row {
        @include flex-col;

        .book-detail-label {
          font-style: italic;
          font-weight: bolder;
          color:#3a86ff;
        }
        .book-data{
          margin-left: 20px;
          font-size: 1.5rem;
          text-transform: capitalize;
        }
      }
    }
  }
  .edit-data {
    @include flex-col;
    label {
      display: flex;
      flex-direction: column;
    }
  }
}
.warn-message {
  @include component-structure;
  @include flex-col;
  justify-content: center;
  h2 {
    text-decoration: underline;
    color: orangered;
  }
  button {
    margin-inline: auto;
  }
}
