<div class="book-page" *ngIf="book !== undefined; else notPresent">

    <div class="book-details">
        <h2>{{book!.title}}</h2>
        <div>
            <span class="book-detail-label">Autore:</span>
            <span>{{book.author}}</span>
        </div>
        <div>
            <span class="book-detail-label">Categoria:</span>
            <span>{{book.category}}</span>
        </div>
        <div>
            <span class="book-detail-label">Numero pagine:</span>
            <span>{{book.pages}}</span>
        </div>

    </div>

    <div class="edit-data">
        <label for="title">Titolo libro:
            <input type="text" id="title" [(ngModel)]="book.title" placeholder="titolo">
        </label>

        <label for="author">Autore:
            <input type="text" id="author" [(ngModel)]="book.author" placeholder="autore">
        </label>

        <label for="category">Categoria:
            <select id="category" [(ngModel)]="book.category">
                <option value="saggio">Saggio</option>
                <option value="avventura">Avventura</option>
                <option value="fantasy">Fantasy</option>

            </select>
        </label>

        <label for="pages">Numero pagine:
            <input type="number" id="pages" min="0" max="1500" [(ngModel)]="book.pages" placeholder="titolo">
        </label>


    </div>

</div>

<ng-template #notPresent>
    <div class="warn-message">
        <h2>Il libro richiesto non è presente nel database</h2>
        <button>
            <a routerLink="/new">Aggiungilo</a>
        </button>
    </div>

</ng-template>