<div class="book-page" *ngIf="book !== undefined; else notPresent">

    <div class="book-details-card">
        <div class="header">
            <h2>{{book.title}}</h2>
        </div>
        <div class="card-body">
            <div class="card-row">
                <span class="book-detail-label">Autore:</span>
                <span class="book-data">{{book.author}}</span>
            </div>
            <div class="card-row">
                <span class="book-detail-label">Categoria:</span>
                <span class="book-data">{{book.category}}</span>
            </div>
            <div class="card-row">
                <span class="book-detail-label">Numero pagine:</span>
                <span class="book-data">{{book.pages}}</span>
            </div>
        </div>
    </div>


        <app-book-form [book]="book" [editMode]="true" (sendUpdate)="setUpdates($event)"></app-book-form>
    
    <!-- TODO - fix this pagination links not forcing an update in the page
    <div class="pagination">
        <a [routerLink]="['/book', book.id -1]"><button>Precedente</button></a>
        <a routerLink="/book/{{book.id +1}}"><button>Prossimo</button></a>

    </div> -->
</div>

<!-- styling for this moved to base style.scss -->
<ng-template #notPresent>
    <div class="warn-message">
        <h2>Il libro richiesto non è presente nel database</h2>
        <a routerLink="/new" class="btn">
            <button  >
                Aggiungilo
            </button>
        </a>
    </div>

</ng-template>