@import "src/_variables.scss";

.searchbar {
  width: 60%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 20px;
  input {
    line-height: 1.4rem;
    outline: none;
    border: none;
    border-bottom: 1px solid $r1;
  }
  .clear-query{
    color: $r1;
    cursor: pointer;
    margin-left: -30px;
    background-color: white;
  }

}



.grid-content {
  @include component-structure;
  justify-content: start;
  align-items: start;

  a {
    text-decoration: none;
  }
  .item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
    margin: 3px;
    font-weight: bold;
    footer {
      font-weight: 200;
      font-size: smaller;
      background-color: rgb(226, 226, 226);
      bottom: 0;
      display: none;
    }
    &:hover {
      // MAYBE remove hover effect?? is annoying?
      footer {
        display: block;
      }
    }
  }
  //   TODO change from border to accent bar
  .fantasy {
    border: 1px solid blue;
  }
  .avventura {
    border: 1px solid red;
  }
  .saggio {
    border: 1px solid green;
  }
}

.warn-message{
  @include component-structure
}

.add {
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  a {
    color: whitesmoke;
    text-decoration: none;
  }
}
