<div class="options">
    <div class="filter-content">
        <span>Cerca:</span>
        <span class="search-input">
            <input type="text" placeholder="autore, titolo, genere" [(ngModel)]="query">
            <span class="clear-query" type="button" (click)="clearQuery()">x</span>
        </span>
        <div class="category-filters">
            <button (click)="setQuery('fantasy')" [ngClass]="{selected: query==='fantasy'}">Fantasy</button>
            <button (click)="setQuery('saggio')" [ngClass]="{selected: query==='saggio'}">Saggio</button>
            <button (click)="setQuery('avventura')" [ngClass]="{selected: query==='avventura'}">Avventura</button>
        </div>
    </div>
    <div class="view-toggles">
        <button (click)="setViewStyle('grid')">G</button>
        <button (click)="setViewStyle('list')">L</button>
    </div>
</div>
<ng-container *ngIf="bookList.length; else emptyList">

    <ng-container *ngIf="viewStyle === 'grid'; else listStyle">

        <div class="grid-content">
            <div *ngFor="let book of bookList | filter:query">
                <div class="card {{book.category}}">
                    <button class='delete-item' (click)="deleteBook(book.id)">X</button>
                    <a [routerLink]="['/book/', book.id]">
                        <h3>{{book.title.length > 20 ? book.title.slice(0,20) + "..." : book.title}}</h3>
                    </a>
                        <p class="author">
                            {{book.author[0]}}. {{book.author.split(' ')[1]}}
                        </p>
                        <p class="book-pages">{{book.pages}} pg.</p>
                    </div>
            </div>
        </div>
    </ng-container>

    <ng-template #listStyle>
        <div class="list-content">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titolo</th>
                        <th>Autore</th>
                        <th>Categoria</th>
                        <th>Pagine</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of bookList | filter:query" [routerLink]="['/book/', book.id]">

                        <td><b>{{book.id}}</b></td>
                        <td>{{book.title}}</td>
                        <td><i>{{book.author}}</i></td>
                        <td [ngClass]="[book.category]">{{book.category}}</td>
                        <td>{{book.pages}}</td>
                        <td>
                            <button class='delete-item' (click)="deleteBook(book.id)">X</button>

                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </ng-template>
</ng-container>


<!-- styling for this moved to base style.scss -->
<ng-template #emptyList>
    <div class="warn-message">
        <h2>VUOTO</h2>
        <a routerLink="/new" class="btn"><button>Aggiungine uno</button></a>
    </div>
</ng-template>

<div class="add">
    <a routerLink="/new">+</a>
</div>