<div class="searchbar">
    Cerca:
    <input type="text" placeholder="autore, titolo, genere" [(ngModel)]="query">
    <span class="clear-query" type="button" (click)="clearQuery()">x</span>
    <div>
        <button (click)="setQuery('fantasy')">F</button>
        <button (click)="setQuery('saggio')">S</button>
        <button (click)="setQuery('avventura')">A</button>
    </div>
</div>
<div class="list-content" *ngIf="bookList.length; else emptyList">
    <!-- TODO add conditional statement if list is empty like book-detail-component -->

    <div *ngFor="let book of bookList | filter:query">
        <button (click)="deleteBook(book.id)">X</button>
        <a [routerLink]="['/book/', book.id]">
            <div class="item-card {{book.category}}">
                {{book.title.length > 20 ? book.title.slice(0,20) + "..." : book.title}}
                <footer>
                    {{book.author[0]}}. {{book.author.split(' ')[1]}}
                </footer>
            </div>
        </a>
    </div>


</div>

<ng-template #emptyList>
<div class="warn-message">
    <h2>VUOTO</h2>
    <a routerLink="/new"><button>Aggiungine uno</button></a>
</div>
</ng-template>

<div class="add">
    <a routerLink="/new">+</a>
</div>