@import "src/_variables.scss";

.options {
  margin: 20px auto;
  justify-content: center;
  @include flex-row;
  font-weight: bold;
  gap: 20px;
  // background-color: green;
  .filter-content {
    // background-color: yellow;
    @include flex-row;
    justify-content: space-evenly;
    flex-grow: 1;
    .search-input {
      @include flex-row;
      min-width: 300px;
      background-color: blue;
      input {
        line-height: 1.4rem;
        outline: none;
        border: none;
        border-bottom: 1px solid $r1;
        width: 100%;
      }
      .clear-query {
        color: $r1;
        cursor: pointer;
        margin-left: -10px;
        background-color: white;
      }
    }

    .category-filters {
      button {
        color: $r2;
        background: none;
        border: none;
        padding: 1px 6px;
        border-inline: 1px solid $r1;
      }
      button:nth-child(2) {
        border: none;
      }
      .selected {
        text-decoration: underline;
        text-decoration-color: $r2;
      }
    }
  }

  .view-toggles {
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 1;
    min-width: 100px;
    border: 1px solid $r1;
    border-radius: 5px;
    margin-right: 20px;
    button{
      width:100%;
      border:none;
      background: none;
      color:$r1;
      &:first-child{
        border-right: 1px solid $r1;
      }
      &.selected{
        background-color: $r3;
      }
    }


  }

  button {
    cursor: pointer;
  }
}

.grid-content {
  @include component-structure;
  justify-content: start;
  align-items: start;
  gap:10px;

}

.list-content {
  padding: 20px;
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    thead {
      background-color: $r2;
      th {
        color: whitesmoke;
      }
    }
  }

  td,
  th {
    border: 1px solid #cdcbcb;
    text-align: left;
    padding: 8px;
    cursor: pointer;
  }
  td {
    &.fantasy {
      color: #7388ff;
    }
    &.avventura {
      color: #d32f2f !important;
    }
    &.saggio {
      color: #2e7d32;
    }
  }

  tr:nth-child(even) {
    background-color: lighten($r3, 4%);
  }
}

button.delete-item {
  border: none;
  background: none;
  font-weight: bolder;
  font-size: 1.2rem;
  color: $r1;
}
//  .warn-message style moved in base style.scss

.add {
  font-size: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  a {
    color: whitesmoke;
    text-decoration: none;
  }
}

@media only screen and (max-width: 680px) {
  .options {
    flex-direction: column-reverse;
    justify-content: center;
    height: 12%;
    .category-filters {
      display: none;
    }
  }
  .list-content{
    overflow-x: auto;
  }
}
